* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
::-webkit-scrollbar {
    background-color: #00143C;
}
::-webkit-scrollbar-thumb {
    background-color: #002F61;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #254566;
}





.top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #09172b;
    padding: 18px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 20;
}
.top-left {
    display: flex;
    align-items: center;
    gap: 5px;
}
.helper1 {
    display: flex;
    align-items: center;
    gap: 22px;
}
.top-right {
    display: flex;
    align-items: center;
    gap: 22px;
}
.top-text1 {
    color: white;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.top-text2 {
    color: rgb(139, 139, 139);
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s;
}
.top-img3 {
    cursor: grab;
}

.absolute2 {
    background-color: #09172b;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    position: absolute;
    z-index: 30;
    left: 0;
    right: 0;
    top: 70px;
    justify-content: center;
    padding: 20px 0px 40px 0px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}
.top-text3 {
    color: rgb(139, 139, 139);
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s;
}
.individuals {
    transition: all 0.3s;
}
.individuals:hover .absolute2 {
    opacity: 1;
}
.top-text3:hover {
    color: white;
}
.top-text3:hover .absolute2 {
    opacity: 1;
}
.absolute2-text1 {
    font-size: 18px;
    color: white;
    font-weight: bold;
}
.span5 {
    font-size: 12px;
    color: rgb(51, 111, 190);;
}
.for46 {
    opacity: 0;
    pointer-events: none;
}
.absolute2-text2 {
    color: rgb(99, 99, 99);
    font-weight: bold;
    font-size: 13px;
}
.primary-side1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.top-text2:hover {
    color: white;
}
.button1-img1 {
    position: absolute;
    opacity: 0;
    z-index: 21;
    transition: all 0.3s;
    pointer-events: none;
    left: 8px;
    border-radius: 20px;
    top: 20px;
}
.button1-primary {
    position: relative;
}
.button1 {
    border: 1px solid rgb(51, 111, 190);
    border-radius: 30px;
    background-color: rgb(10, 29, 56);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 30px 8px 30px;
    font-weight: bold;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.button1:hover {
    background-color: rgb(35, 54, 80);
}
.button1-primary:hover .button1-img1 {
    top: 45px;
    opacity: 1;
}

.menu {
    width: 35px;
    height: 35px;
    background-color: white;
}
.for1 {
    position: relative;
    color: rgb(29, 96, 134);
}
.for1:hover {
    color: rgb(29, 96, 134);
}
.absolute1 {
    position: relative;
    cursor: pointer;
}
.new {
    position: absolute;
    background-color: rgb(29, 96, 134);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 10px;
    padding: 1px 5px 1px 5px;
    border-radius: 30px;
    right: 5px;
}



.primary-middle1 {
    background-color: #010118;
    z-index: 1;
}

.middle1-div1 {
    display: flex;
    align-items: center;
    gap: 10px;
}
.middle1-text3 {
    color: white;
    font-size: 16px;
}
.span1 {
    color: rgb(65, 65, 189);
}
.for40 {
    cursor: pointer;
}
.button2 {
    border: 1px solid white;
    border-radius: 30px;
    background-color: rgb(6, 17, 33);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px 8px 20px;
    font-weight: bold;
    gap: 10px;
    cursor: pointer;
    transition: all 0.2s;
}
.button2:hover {
    background-color: rgb(30, 32, 36);
}

.middle1-text1 {
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.middle1-div1-primary {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.middle1-text2 {
    color: rgb(204, 204, 204);
    font-size: 20px;
}

.primary-middle1 {
    padding: 100px 0px 0px 0px;
    display: flex;
    justify-content: center;
}
.middle1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 80%;
}

.primary-img2 {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}
.middle1-img2 {
    margin-top: 80px;
    width: 70%;
    border-radius: 40px;
    z-index: 3;
    object-fit: cover;
}
.img2-shine {
    position: absolute;
    width: 100%;
    height: 300px;
    border-radius: 50%;
    filter: blur(10px);
    background-color: rgb(10, 40, 85);
    z-index: 2;
    top: 150px;
    opacity: 0.6;
}

.middle1-img3 {
    margin-top: 100px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
.middle1-text4 {
    color: rgb(139, 139, 139);
    font-size: 14px;
    margin-top: -20px;
}

.for2 {
    color: rgb(51, 111, 190);
    font-size: 16px;
    font-weight: bold;
    margin-top: 50px;
}

.middle1-box1-text1 {
    color: rgb(204, 204, 204);
    font-size: 24px;
}
.span2 {
    color: rgb(134, 134, 134);
    font-size: 16px;
}
.middle1-box1-text2 {
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.middle1-box1-text3 {
    color: red;
    font-size: 16px;
    font-weight: bold;
}
.for3 {
    font-size: 16px;
}
.button3 {
    color: black;
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 22px 8px 22px;
    cursor: pointer;
    border: 1px solid white;
    transition: all 0.3s;
}
.button3:hover {
    border: 1px solid rgb(34, 111, 212);
    color: white;
    background-color: #000A1F;
}
.for4 {
    color: green;
}

.middle1-box1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.middle1-div2 {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    margin-top: 50px;
    padding: 0px 0px 150px 0px;
}
.line-primary {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -80px;
}
.line {
    width: 80%;
    height: 1px;
    background-color: gray;
}
.middle1-box1-img1 {
    width: 200px;
}


.for5 {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 0px 0px 100px 0px;
}
.for6 {
    background-color: #0d2846;
}
.for39 {
    background: linear-gradient(180deg, #000A1F 0%, #00143C 100%);;
}
.middle1-div3-text1 {
    color: rgb(60, 141, 189);
    font-weight: bold;
    font-size: 18px;
}
.middle1-div3-text2 {
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.for7 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.middle1-div3-img1 {
    border-radius: 30px;
}
.middle1-div3-div1 {
    border-radius: 30px;
    background: radial-gradient(123.14% 44.41% at 77.00% 45.58%, rgba(17, 153, 250, 0.20) 0%, rgba(17, 153, 250, 0.00) 100%), radial-gradient(172.02% 136.06% at 4.78% 96.68%, rgba(1, 1, 24, 0.40) 0%, rgba(1, 1, 24, 0.00) 100%), #002F61;;
    display: flex;
    gap: 5px;
    padding: 20px;
}
.for8 {
    width: 50%;
}




.middle1-div3-div1-left {
    display: flex;
    align-items: center;
    gap: 5px;
}
.middle1-div3-div1-left-div1 {
    display: flex;
    flex-direction: column;
}
.middle1-div3-div1-text1 {
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.middle1-div3-div1-text2 {
    color: rgb(184, 184, 184);
    font-size: 14px;
}
.middle1-div3-div1-text3 {
    color: red;
    font-size: 14px;
}
.for9 {
    font-size: 16px;
}
.middle1-div3-div1-right-div1 {
    display: flex;
    align-items: center;
    gap: 5px;
}
.middle1-div3-div1-right {
    display: flex;
    flex-direction: column;
}

.middle1-div3-div1-box2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s;
}
.middle1-div3-div1-box2:hover {
    opacity: 0.5;
}
.for10 {
    width: 100%;
    margin-top: 20px;
}
.for11 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.middle1-div3-div1-img1 {
    border-radius: 50%;
}
.middle1-div3-div1-img2 {
    border-radius: 50%;
}
.for12 {
    color: green;
}


.middle1-div3-div2 {
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: -70px;
}
.middle1-div3-div2-text1 {
    color: rgb(145, 145, 145);
    font-size: 16px;
    font-weight: bold;
}
.middle1-div3-div2-text2 {
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.middle1-div3-div2-text3 {
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.middle1-div3-div2-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.middle1-div3-div2-right {
    display: flex;
    align-items: center;
    gap: 20px;
}
.middle1-div3-div2-right-div1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.middle1-div3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.middle1-div4-text1 {
    font-size: 15px;
    color: rgb(52, 101, 194);
}
.middle1-div4-text2 {
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.middle1-div4-text3 {
    color: rgb(145, 145, 145);
    font-weight: bold;
    font-size: 15px;
}
.span3 {
    color: black;
}
.button4 {
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 14px;
    border-radius: 30px;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}
.button4:hover {
    background-color: rgb(226, 226, 226);
}
.button5 {
    background-color: #0E213B;
    color: white;
    font-size: 14px;
    border-radius: 30px;
    border: none;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.for13 {
    background-color: white;
}
.middle1-div4-right {
    width: 100%;
}
.middle1-div4-left {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.for29 {
    display: flex;
    flex-direction: column;
}
.middle1-div4-left-div1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.middle1-div4-left-div2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.for15 {
    background-color: #061121;
    padding: 100px 0px 100px 0px;
}


.middle1-div5-primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.middle1-div5-img1 {
    width: 100%;
}
.middle1-div5-text1 {
    font-weight: bold;
    font-size: 16px;
    color: rgb(45, 114, 192);
}
.middle1-div5-text2 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}
.middle1-div5-div1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.middle1-div5-text3 {
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.middle1-div5-text4 {
    color: rgb(45, 114, 192);
    font-weight: bold;
    font-size: 22px;
}
.middle1-div5-div1-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.for17 {
    background-color: #061121;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid white;
    transition: all 0.3s;
}
.for17:hover {
    background-color: #162336;
}


.for18 {
    background-color: rgb(11, 20, 38);
}


.for20 {
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.middle1-div6-left-primary {
    display: flex;
    justify-content: start;
    align-items: start;
}

.middle1-div6-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor:wait
}
.pro1 {
    margin-top: -30px;
    width: 100%;
}

.middle1-div6-right-primary {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.for19 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.middle1-div6-text2 {
    font-size: 16px;
    color: white;
    font-weight: bold;
}
.for23 {
    width: 100%;
}


.middle1-div7-div1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.middle1-div7-img2 {
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid rgb(11, 20, 38);;
}
.middle1-div7-img2:hover {
    border: 1px solid white;
}
.middle1-div7 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}
.for24 {
    width: 20%;
}
.middle1-div8-div1-div1 {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: all 0.2s;
}
.middle1-div8-div1-div1:hover .vertical {
    background-color: rgb(16, 112, 221);
}
.vertical {
    width: 2px;
    height: 20px;
    background-color: white;
    transition: all 0.3s;
}
.middle1-div8-text1 {
    color: rgb(221, 221, 221);
    font-weight: bold;
    font-size: 18px;
    transition: all 0.2s;
}
.middle1-div8-text1:hover {
    transform: translateX(5px);
}
.span4 {
    font-size: 12px;
    font-weight: bold;
    color: rgb(40, 120, 173);
}

.middle1-div8-div1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.middle1-div8-text2 {
    color: rgb(172, 172, 172);
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}

.for25 {
    font-size: 18px;
    color: white;
    cursor: none;
}
.middle1-div8-div2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.middle1-div8-text3 {
    color: rgb(221, 221, 221);
    font-weight: bold;
    font-size: 18px;
}

.middle1-div8-div2-primary {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.middle1-div8-div3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100px;
}

.middle1-div8 {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.middle1-div9-text1 {
    font-size: 14px;
    color: rgb(148, 148, 148);
    line-height: 30px;
}
.for27 {
    width: 100%;
}

.middle1-div9 {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}
.middle1-div9-div1 {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.middle1-div10-div1 {
    display: flex;
    align-items: center;
    gap: 15px;
}

.middle1-div10 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: -70px;
}
.for28 {
    text-decoration: underline;
    cursor: pointer;
}


.for18 {
    margin-top: -100px;
}














@media (max-width: 1079px) {
    .helper1 {
        flex-wrap: wrap;
    }
}
@media (max-width: 799px) {
    .helper1 {
        display: none;
    }
}
@media (min-width: 800px) {
    .menu {
        display: none;
    }
}
@media (max-width: 479px) {
    .top-img3 {
        display: none;
    }
    .button1 {
        display: none;
    }
}




@media (min-width: 500px) {
    .middle1-text1 {
        font-size: 45px;
    }
    .middle1-text2 {
        font-size: 30px;
    }
    .middle1-text3 {
        font-size: 20px;
    }
    .button2 {
        padding: 10px 25px 10px 25px;
        font-size: 16px;
    }
    .for2 {
        font-size: 18px;
    }
    .middle1-div3-text1 {
        font-size: 23px;
    }
    .middle1-div3-text2 {
        font-size: 23px;
    }
    .middle1-div4-text1 {
        font-size: 18px;
    }
    .middle1-div4-text2 {
        font-size: 45px;
    }
    .middle1-div4-text3 {
        font-size: 22px;
    }
    .button4 {
        padding: 12px 16px 12px 16px;
    }
    .button5 {
        padding: 12px 16px 12px 16px;
    }
    .middle1-div5-text1 {
        font-size: 18px;
    }
    .middle1-div5-text2 {
        font-size: 45px;
        line-height: 55px;
    }
    .middle1-div5-text3 {
        font-size: 22px;
    }
    .middle1-div5-text4 {
        font-size: 40px;
    }
    .for20 {
        font-size: 22px;
    }
}
@media (min-width: 550px) {
    .primary-img2 {
        margin-top: 100px;
    }
    .middle1-img3 {
        margin-top: 300px;
    }
    .for2 {
        margin-top: 100px;
    }
    .middle1-div2 {
        margin-top: 100px;
    }
    .img2-shine {
        height: 500px;
    }
}
@media (min-width: 600px) {
    .helper2 {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
    .middle1-div3-div1 {
        width: 430px;
        justify-content: center;
        align-items: center;
    }
    .for30 {
        align-items: start;
        height: 250px;
    }
    .for31 {
        align-items: start;
        height: 150px;
    }
}
@media (min-width: 750px) {
    .middle1-box1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .middle1-div2 {
        align-items: center;
        justify-content: center;
    }
    .for32 {
        width: 100%;
    }
    .img2-shine {
        height: 800px;
    }
    .middle1-div5-img1 {
        width: 600px;
    }
}
@media (min-width: 800px) {
    .middle1-text1 {
       font-size: 55px;
       width: 630px;
    }
    .middle1-div5-text2 {
        width: 370px;
    }
    .middle1-div5-img1 {
        transform: translateX(20px);
    }
    .primary-img2 {
        width: 650px;
    }
    .img2-shine {
        height: 750px;
    }
    .for35 {
        margin-top: 150px;
    }
    .middle1-div3-div2-text1 {
        font-size: 20px;
    }
    .middle1-div3-div2-text2 {
        font-size: 35px;
    }
    .middle1-div3-div2-left {
        display: flex;
        align-items: center;
    }
    .middle1-div3-div2-text3 {
        font-size: 18px;
    }
}
@media (min-width: 850px) {
    .for14 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .middle1-div4-right {
        width: 30%;
    }
    .middle1-div4-left-div2 {
        margin-top: 80px;
    }
    .for19 {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;
        gap: 50px;
    }
    .middle1-div6-right {
        width: 100%;
    }
    .pro1 {
        width: 100%;
    }
    .middle1-div6-right-primary {
        width: 40%;
    }
    .for20 {
        width: 210px;
        font-size: 25px;
        line-height: 30px;
    }
    .for34 {
        width: 800px;
    }
    .middle1-div3-div2 {
        padding: 20px 0px 20px 0px;
    }
}
@media (min-width: 950px) {
    .for20 {
        width: 100%;
    }
    .line-primary {
        width: 950px;
    }
    .middle1-box1 {
        gap: 40px;
    }
    .middle1-box1-text2 {
        font-size: 35px;
    }
    .for3 {
        font-size: 18px;
    }
    .for33 {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .line-primary {
        margin-top: -30px;
    }
    .middle1-div3-div2 {
        display: flex;
    }
}
@media (min-width: 1200px) {
    .line-primary {
        width: 1000px;
    }
}
@media (min-width: 1188px) {
    .for36 {
        margin-top: -350px;
    }
    .for37 {
        height: 600px;
    }
    .for38 {
        transform: translateY(-20px);
    }
    .for8 {
        width: 95%;
        transform: translateY(35px);
    }
    .helper2 {
        width: 950px;
    }
    .middle1-div3-div2 {
        width: 950px;
    }
}
@media (min-width: 1250px) {
    .for26 {
        width: 1000px;
    }
    .middle1-div9 {
        gap: 10px;
    }
}
@media (min-width: 1300px) {
    .middle1-img3 {
        width: 1040px;
    }
}
@media (min-width: 1400px) {
    .top {
        justify-content: center;
        gap: 350px;
    }
}